<footer class="footer" id="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="javascript: void(0)">
            <app-privacy-dialog></app-privacy-dialog>
          </a>
        </li>
        <li>
          <a href="https://github.com/As-12/Fit-App" target="_blank">
            GitHub
          </a>
        </li>
        <li>
          <a href="javascript: void(0)">
            <app-license-dialog></app-license-dialog>
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      Copyright &copy;
      {{ today | date: "yyyy" }} -
      <a href="https://thanaphon.dev" target="_blank">TC</a>
    </div>
  </div>
</footer>
