<fit-app>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Submission History</h4>
              <p class="card-category">Your Progress</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>
                      Date
                    </th>
                    <th>
                      Weight
                    </th>
                    <th>
                      Mood
                    </th>
                    <th>
                      Diet
                    </th>
                    <th>
                      Option
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        1-10-2015
                      </td>
                      <td>
                        220 lbs
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          EDIT
                        </button>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          DELETE
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        1-10-2015
                      </td>
                      <td>
                        220 lbs
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          EDIT
                        </button>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          DELETE
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        1-10-2015
                      </td>
                      <td>
                        220 lbs
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          EDIT
                        </button>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          DELETE
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        1-10-2015
                      </td>
                      <td>
                        220 lbs
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          EDIT
                        </button>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          DELETE
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        1-10-2015
                      </td>
                      <td>
                        220 lbs
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <img class="mood-img" src="./assets/img/sad-face.svg" />
                      </td>
                      <td>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          EDIT
                        </button>
                        <button
                          mat-raised-button
                          class="btn btn-danger"
                          disabled
                        >
                          DELETE
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fit-app>
