<fit-app>
  <div class="main-content">
    <div class="container-fluid">
      <div
        class="row"
        [hidden]="
          !(progressService.progress$ | async) ||
          (progressService.progress$ | async)?.progresses.length == 0
        "
      >
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              <div class="ct-chart" id="dailyProgressChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Daily Progress</h4>
              <p class="card-category">
                Tracking your daily weights
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <div class="ct-chart" id="netProgressChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Net Progress</h4>
              <p class="card-category">
                Your daily net weight loss within the past 7 days.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row"
        *ngIf="progressService.progress$ | async as progressList"
      >
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Track History</h4>
              <p class="card-category">
                Your 7 most recent history
              </p>
            </div>
            <div class="card-body table-responsive">
              <p *ngIf="progressList.progresses.length <= 0">
                You do not have any history yet.
              </p>
              <table
                *ngIf="progressList.progresses.length > 0"
                class="table table-hover"
              >
                <thead class="text-info">
                  <th>
                    Date
                  </th>
                  <th>
                    Weight (kg)
                  </th>
                  <th>
                    Mood
                  </th>
                  <th>
                    Diet
                  </th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let progress of progressList.progresses;
                      let i = index
                    "
                  >
                    <td *ngIf="i < 7">
                      {{ progress.track_date | date: "mediumDate" }}
                    </td>
                    <td *ngIf="i < 7">{{ progress.weight }} kg</td>
                    <td *ngIf="i < 7" [ngSwitch]="progress.mood">
                      <!-- the same view can be shown in more than one case -->
                      <img
                        *ngSwitchCase="'good'"
                        class="mood-img"
                        src="./assets/img/happy-face.svg"
                      />
                      <img
                        *ngSwitchCase="'neutral'"
                        class="mood-img"
                        src="./assets/img/neutral-face.svg"
                      />
                      <img
                        *ngSwitchCase="'bad'"
                        class="mood-img"
                        src="./assets/img/sad-face.svg"
                      />
                    </td>
                    <td *ngIf="i < 7" [ngSwitch]="progress.diet">
                      <!-- the same view can be shown in more than one case -->
                      <img
                        *ngSwitchCase="'good'"
                        class="mood-img"
                        src="./assets/img/happy-face.svg"
                      />
                      <img
                        *ngSwitchCase="'neutral'"
                        class="mood-img"
                        src="./assets/img/neutral-face.svg"
                      />
                      <img
                        *ngSwitchCase="'bad'"
                        class="mood-img"
                        src="./assets/img/sad-face.svg"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fit-app>
