<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://opensource.org/licenses/MIT">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="https://opensource.org/licenses/MIT">
            GitHub
          </a>
        </li>
        <li>
          <a href="https://opensource.org/licenses/MIT">
            License
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      Copyright &copy;
      {{ today | date: "yyyy" }} -
      <a href="https://thanaphon.dev" target="_blank">TC</a>
    </div>
  </div>
</footer>
