<fit-app>
  <div class="main-content">
    <div *ngIf="progressService.progress$ | async">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">
              Track your progress
            </h4>
            <p class="card-category">
              {{ progress.track_date | date: "mediumDate" }}
            </p>
          </div>
          <div class="card-body">
            <form #trackForm="ngForm" (ngSubmit)="trackWeight(trackForm)">
              <div class="row">
                <div class="col-md-12">
                  <h4>Weight</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder=""
                      [(ngModel)]="progress.weight"
                      name="weight"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4>Mood</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="progress.mood"
                    name="mood"
                  >
                    <mat-radio-button
                      class="example-radio-button ml-5"
                      disableRipple="true"
                      *ngFor="let mood of moods"
                      [value]="mood.value"
                    >
                      <img class="mood-img" [src]="mood.image" />
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4>Diet</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="progress.diet"
                    name="diet.value"
                  >
                    <mat-radio-button
                      class="example-radio-button ml-5"
                      *ngFor="let mood of moods"
                      disableRipple="true"
                      [value]="mood.value"
                    >
                      <img class="mood-img" [src]="mood.image" />
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <button
                *ngIf="!isSubmitted"
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Submit
              </button>

              <button
                *ngIf="isSubmitted"
                mat-raised-button
                class="btn btn-danger pull-right"
                disabled
              >
                Submitting
              </button>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</fit-app>
