<video
  #myVideo
  autoplay
  muted
  loop
  id="myVideo"
  oncanplay="myVideo.play()"
  onloadedmetadata="myVideo.muted = true"
>
  <source src="./assets/video/boxing_compressed.mp4" type="video/mp4" />
</video>

<nav
  class="navbar transparent navbar-expand navbar-light fixed-top"
  id="mainNav"
>
  <div class="container">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item text-white-50">
        <a
          class="nav-link js-scroll-trigger"
          href="https://github.com/As-12/Fit-App-frontend-"
          target="_blank"
          >GitHub (Frontend)</a
        >
      </li>
      <li class="nav-item text-white-50">
        <a
          class="nav-link js-scroll-trigger"
          href="https://github.com/As-12/Fit-App-backend-"
          target="_blank"
          >GitHub (Backend)</a
        >
      </li>
      <li class="nav-item text-white-50">
        <a
          class="nav-link js-scroll-trigger"
          href="https://fit-app-tc.herokuapp.com/"
          target="_blank"
          >API</a
        >
      </li>

      <li class="nav-item text-white-50">
        <a class="nav-link js-scroll-trigger" href="#"
          ><app-license-dialog></app-license-dialog
        ></a>
      </li>
      <li class="nav-item text-white-50">
        <a class="nav-link js-scroll-trigger" href="#"
          ><app-privacy-dialog></app-privacy-dialog
        ></a>
      </li>
    </ul>
  </div>
</nav>

<header class="content masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">FIT APP</h1>
      <sup>DEMO</sup>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">
        One stop app to track your fitness goal.
      </h2>
      <a [routerLink]="['/fit-app']" class="btn ml-2 btn-primary">Launch</a>
    </div>
  </div>
</header>
